{% extends 'main.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home Page </title>
</head>
<body>
    <div>
        <div> 
            <h1> Available Rooms </h1>
            <a href= "{% url 'create_room' %}"><button> Create a room </button> </a>
            <br><br>
            {% for room in rooms %}
                <div> 
                    <span> @{{room.host.username}} </span>
                    <h5> {{room.id}} <a href= "{% url 'room' room.id %}"> {{room.name}} </a> </h5>
                    <small> {{room.topic.name}}</small>
                    <br>
                    <a href= "{% url 'update_room' room.id %}"> <button> Edit </button> </a>
                    <a href="{% url 'delete_room' room.id %}"> <button> Delete </button></a>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>

{% endblock content %}